<h4>Film - {{subject}}</h4>
				<br />
				<table class="table table-striped table-bordered">
					<textarea disabled class="txtConsigne" rows="5">{{consigne}}</textarea>
				</table>
				<br />
				<table>
					<tr>
						<td>
							<form action="{{ path('innova_forum_multimodal_homepage')}}" method="post">
								<input type="submit" class="btn btn-danger" name="ajout" style="position: static; float: right;" value="Retour"/>
							</form>
						</td>
						<td>
							<a class="btn btn-danger" data-toggle="modal" href="#" data-target="#Record">Réagir
</a> 
						</td>
						<td>
							<a class="btn btn-danger" data-toggle="modal" href="#" data-target="#Listen">Tout lire</a> 
						</td>
					</tr>
				</table>
				