<div class="modal hide fade" id="Record">
	  <div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
	    <h5>Ajouter une contribution – Enregistrement audio</h5>
	  </div>
	<div class="modal-body">
		<!doctype html>
		<html>
		<head>
			<meta name="viewport" content="width=device-width,initial-scale=1">
			<title>Audio Recorder</title>
			<script src="{{ asset('bundles/innovaforummultimodal/css/bootstrap/js/mediaelement-and-player.min.js') }}"></script> 
			<style>
			body { 
				display: flex;
				flex-direction: column;
				height: 100vh;
				width: 100%;
				margin: 0 0;
			}
			canvas {
				text-align: center;
				margin-left: 90px;
				display: inline-block; 
				background: #202020;
				width: 40%;
				height: 12%;
				box-shadow: 0px 0px 10px blue;
			}
			</style>
		</head>
		<body>
			<div id="viz">
					<div class="row">
						<div class="alert-success"><span id="transfert"></span></div>
						<br />
					</div>
					<div class="row">
					<div id="perecanvas">
						
							{# <canvas id="analyser"></canvas> #}

					</div>
						

					</div>
					<br />
					<div class="span4">
						<div id="recordAudio">
						</div>
					</div>
			</div>
			<div id="controls">
				<div class="text-center">
						<div id="chargement2">

							</div>
				</div>
				<div class="text-center">
						<div id="chargement">

							</div>
				</div>
				<div class="text-center">
						<span id="MsgEnregistrement"></span>
						<br />
						<span id="totale"></span>
						<span id="compt"></span>
						<br />
						<div id="compte_a_rebours"></div>
						<span id="estimer"></span>
				</div>
				<br />
				<table>
				<input type="hidden" id="pereoufilsoral" name="pereoufilsoral"/>
				<input type="text" id="contributionconsigneoral" name="contributionconsigneoral"/>
					<tr class-"text-center">						
						<button class="btn btn-success" id="enregistrer"  onclick="toggleRecording(this);">S'enregistrer</button>
						&nbsp;
						<button class="btn btn-success" id="ecouter" onclick="saveAudio();">S’écouter</button>							
					</tr>
				</table>
			</div>
		</body>
		</html>
	</div>
    <div class="modal-footer"> 
    <input type="reset" value="Annuler" id="annuler" class="btn btn-primary" onclick="messageFlashText(0);" />
    <button class="btn btn-primary" id="deposer" style="position: static; float: right;" onclick="Deposer();">Déposer</button>
    </div>
	</div>
	    <script>
                $('audio').mediaelementplayer();
            </script>