<div class="modal hide fade" id="ajout">
    <div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
      <h3>Créer un nouveau Collectorama</h3>
    </div>
  <div class="modal-body">
        <div class="well">

          <form method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" />
          </form>
        </div>
  </div>
    <div class="modal-footer"> <a class="btn btn-info" data-dismiss="modal">Fermer</a> </div>
  </div>