  <div class="separator-full"></div>
{#     <div class="row">
    <div class="span2">
      <h4 class="title">Lot COLOR</h4>
    </div>
  </div> #}
  <div class="row">
    <div class="span2">
    <img src="{{ asset('bundles/innovaforummultimodal/css/bootstrap/images/desc.png') }}"/>
    </div>
    <div class="span10">
    <p class="style_ecriture">Est une branche du projet Innovalangues qui est destinées à développer, chez l’utilisateur-apprenant (utilisateur 1a), les compétences en langues liées à la pratique de l’oral (compréhension , production et interaction) en tirant parti des régulations assurées par les pairs (utilisateurs 1b) et/ou par l’enseignant-tuteur (utilisateur 2), dans le cadre d’un scénario pédagogique établi par un enseignant-concepteur (utilisateur 3).</p>
    </div>
  </div>
<div class="separator-full"></div>
  <div class="row">
    <div class="span2">
      <img src="{{ asset('bundles/innovaforummultimodal/css/bootstrap/images/innova.png') }}"/>
    </div>
    <div class="span10">
      <p class="style_ecriture">Il se donne pour ambition d’initier, de soutenir et de déployer des actions visant la transformation consolidée des pratiques d’enseignement-apprentissage des langues sur le site grenoblois et, par actions diffusantes, sur le territoire national. Ce projet vise plus particulièrement à doter les institutions d’enseignement supérieur de moyens leur permettant de porter le degré de maîtrise en langues des publics bénéficiaires à un niveau B2 certifié.
En effet, actuellement les résultats des actions de positionnement diagnostique et des évaluations formatives et certificatives en langues menées dans les établissements supérieurs en France indiquent un décalage entre le niveau de maîtrise linguistique attendu des étudiants et les résultats obtenus. 
Selon les initiateurs de ce projet, l’amélioration significative des résultats actuellement observés doit passer par une rénovation des pratiques, ancrée dans un processus de réelle innovation de l’enseignement-apprentissage des langues. Cette visée ambitieuse se traduira d’un côté par la constitution et la mise à disposition d’une offre diversifiée et hautement flexible de modèles de formation couvrant un large éventail de besoins en formation initiale et continue et, de l’autre, par le soutien au déploiement de ces dispositifs par les acteurs de formation impliqués sur le terrain.</p>
    </div>
  </div>
<div class="separator-full"></div>