  <div class="separator-full"></div>
    <div class="row">
    <div class="span2">
      <h4 class="title">Lot COLOR</h4>
    </div>
  </div>
  <div class="row">
    <div class="span2">
    <img src="{{ asset('bundles/innovaforummultimodal/css/bootstrap/images/desc.png') }}"/>
    </div>
    <div class="span10">
    <p class="style_ecriture">Est une branche du projet Innovalangues qui est destinées à développer, chez l’utilisateur-apprenant (utilisateur 1a), les compétences en langues liées à la pratique de l’oral (compréhension , production et interaction) en tirant parti des régulations assurées par les pairs (utilisateurs 1b) et/ou par l’enseignant-tuteur (utilisateur 2), dans le cadre d’un scénario pédagogique établi par un enseignant-concepteur (utilisateur 3).</p>
    </div>
  </div>
<div class="separator-full"></div>
  <div class="row">
    <div class="span2">
      <h4 class="title">Nos services</h4>
    </div>
  </div>
  <div class="row">
    <div class="span2">
      <img src="{{ asset('bundles/innovaforummultimodal/css/bootstrap/images/nosService.png') }}"/>
    </div>
    <div class="span10">
      test
    </div>
  </div>
<div class="separator-full"></div>
  <div class="row">
    <div class="span3">
      <h4 class="title">Les autres Lots</h4>
    </div>
  </div>
  <div class="row">
    <div class="span2">
    </div>
    <div class="span10">
    test
    </div>
  </div>