
{% extends "InnovaForumMultimodalBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block bloc1 %}
<h1>Hello contribution n°{{ id }} !</h1>
{% include "InnovaForumMultimodalBundle:Forum:choiceContributionList.html.twig" %}
{% include "InnovaForumMultimodalBundle:Forum:addContribution.html.twig" %}
{% endblock %}