.separator-full {
	border-width:0;
	line-height:0;
	page-break-after:always;
	text-align:center;
	width:100%!important;
	background:url("../images/separateur.png") no-repeat bottom;
	height:22px;
	clear:both;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 80px;
}
.style_ecriture
{
	text-align:left;
	padding-top:11px;
	padding-left:30px;
    color: #333;
	font-family: arial;
	font-size: 13px;
	line-height:22px;
}
.title
{
	text-align:left;
	padding-left:30px;
    color: #FF5B2B;
	font-family: "Times New Roman";
	font-size: 22px;
}
body {
	margin:0;
	padding:0;
    text-align:center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

footer {
	background: rgb(26,16,17);
	color: #a9f;
	text-align:center;
	border:2px solid;
	-moz-border-radius:8px; 
}



.bordureVert {
	border-bottom: solid 2px #2ecc71;
}

.bordureBleu {
	border-bottom: solid 2px #3498db;
}

.bordureJaune {
	border-bottom: solid 2px #f1c40f;
}
.bordureRouge {
	border-bottom: solid 2px #CB0B2B;
}
#slider
{
	border-bottom: solid 2px #CB0B2B;
	border-top: solid 2px #CB0B2B;
	border-left: solid 2px #CB0B2B;
	border-right: solid 2px #CB0B2B;
	width: 500px;
	height: 400px;
	text-align: center;
}
#slider
{
	border-bottom: solid 2px #CB0B2B;
	border-top: solid 2px #CB0B2B;
	border-left: solid 2px #CB0B2B;
	border-right: solid 2px #CB0B2B;
	width: 500px;
	height: 400px;
	text-align: center;
}
li
{
	width: 500px;
	text-align: center;
}
li audio
{
	margin-top: 200px;
}
li object
{
	width: 500px;
	height: 420px;
}
li img
{
	height: 420px;
}
li p
{
	margin-top: 80px;
}